body {
  margin: 0;
  padding: 0;
  background-color: #111;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 10px;
}

#game-container {
  width: 800px;
  height: 500px;
  margin: 20px auto;
  border: 3px solid #0f0;
  background-image: url('https://ufla.br/images/noticias/2020/10_out/desmatadas-jpg.jpg');
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#player {
  width: 40px;
  height: 40px;
  background-color: yellow;
  position: absolute;
  top: 230px;
  left: 380px;
  z-index: 10;
  border-radius: 5px;
}

.obstacle {
  width: 50px;
  height: 50px;
  background-color: brown;
  position: absolute;
  z-index: 5;
  border-radius: 8px;
}

.item {
  width: 30px;
  height: 30px;
  background-color: gold;
  position: absolute;
  border-radius: 50%;
  z-index: 5;
}

.enemy {
  width: 40px;
  height: 40px;
  background-color: red;
  position: absolute;
  border-radius: 5px;
  z-index: 5;
}
